@model IEnumerable<Halloween.Models.Potion>

@{
    ViewData["Title"] = "Liste des potions";
}

<h1>Liste des potions</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Ajouter</a>
</p>
<table class="table table-secondary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @* MODIFIEZ ICI *@
                @Html.DisplayNameFor(model => model.Creatrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                    @* MODIFIEZ ICI *@
                @Html.DisplayFor(modelItem => item.Creatrice)
            </td>
            <td>
                    <a class="btn btn-info mx-2" asp-action="Edit" asp-route-id="@item.Id">Modifier</a>
                    <a class="btn btn-danger mx-2" asp-action="Details" asp-route-id="@item.Id">Détails</a>
                    <a class="btn btn-primary mx-2" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
